.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30%;
  background-image: url(https://picsum.photos/1920/1080);
  height: 100vh;
  overflow: hidden;
}

.AppCG {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30%;
  background-image: url(https://picsum.photos/1920/1080);
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.next-btn { 
  color: white; 
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
}

.nextCG-btn {
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
}

.switchCG-btn {
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
}

.switch-btn {
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
}

@media only screen and (min-width: 786px) {

  .Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 100px;
  border-radius: 10px;
}

}

@media only screen and (max-width: 768px) {

  .Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  padding: 50px;
  border-radius: 5px;
}

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
